body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: 'Courier New', Courier, monospace;
   
}

.main_container {
    position: absolute;
    background-image: url('img3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    backface-visibility: hidden; /* Prevent background jittering */
    will-change: transform; /* Optimize for smoother animations */
    transition: opacity 0.5s; /* Add a transition effect for opacity changes */
  }
  
  .loading {
    opacity: 0; /* Initially hide the element */
  }
  
  .loaded .main_container {
    opacity: 1; /* Show the element when loaded */
  }

  .menubar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    height: 100px;
    position: sticky;
    width: 100vw; /* Full width */
    top: 0px; /* Stick to the top */
    bottom: 500px;
    z-index: 1000; /* Set a high z-index to ensure it's above other elements */

}
.menubar ul {
    list-style-type: none;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    text-align: center; /* Align menu items to the right */
}

.menubar li {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    margin-right: 40px;
    transition: ease-in-out 0.3s; /* Add smooth transition for all properties */
}

.menubar a {
    text-decoration: none;
    color: #fff;
}

.menubar li:hover {
    background-color: #e60000; /* Change background color on hover */
    
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    margin-top: 10px;
    width: 239px;
    margin-left: -40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #555;
   
    
}

.dropdown:hover .dropdown-content {
    display: block;

    
  
}

.menubar img {
    width: 35px; /* Adjust the width of the phone icon */
    height: 35px;
    vertical-align: middle;
}

#myname{
    position: fixed;
    font-size: 70px;
    font-family: 'Consolas';
    text-align: center;
    font-weight: bolder;
    margin-top: -210px

}
  .center-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0px;
    justify-content: center;
    height: 100vh;
  }
  
  .center-text p {
    font-size: 2rem;
    font-weight: bold;
    
    color: #000;
    margin: 0; /* Reset margin to remove any default spacing */
  }
  
  #typing-text {
    font-size: 3rem;
    font-family: 'Consolas';
    white-space: nowrap;
    font-weight: bold;
    color: #000;
    overflow: hidden;
    position: relative;
  }
  
  #typing-text::after {
    content: '|';
    position: absolute;
    opacity: 0; /* Initially invisible */
    animation: blink 1s infinite;
    animation-delay: 2s; /* Delay the cursor animation until typing is complete */
  }
  
  @keyframes blink {
    50% {
      opacity: 1;
    }
  }
  
.sec_about{
    padding: 0px 0px;
    
}

#about_me{
    margin-top: -60px;
    letter-spacing: 5px;
    text-decoration: underline;
    overflow: hidden;
}

h2{
    letter-spacing: 20px;

  }

#about {
    position: relative;
    text-align: center;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    line-height: 40px;
    width: 50%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
  }
  
  #about h3 {
    padding: 30px;
    max-width: 100%; /* Ensure the text doesn't exceed the width of the parent container */
    margin-left: auto;
    margin-right: auto;
  }
  
  .skills {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 150px;
    width: auto;
    padding: 20px;
    margin-left: 40px;
    justify-content: center;
    border-radius: 5px;
    margin: 30 auto; /* Center the skills section */
  }
  
  .skill {
    
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center; /* Center the content horizontally */
    border-radius: 5px;
    padding: 40px;
    box-sizing: border-box;
    color: #000;
    font-weight: bold;
    height: 45px;
    background-color: rgba(153, 153, 153, 0.2);
    margin: 0px 10px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    font-size: 15px; /* Adjusted font size */
  }
  


  .footer{
    background-color: #000;
    height: 200px;
    margin-top: 30px;
    background-size: cover;
    opacity: 80%;
    
  }
  
  .social-icons {
    margin-top: 20px; /* Adjust spacing as needed */
    text-align: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px; /* Adjust spacing between icons */
  }
  
  .social-icons img {
    width: 30px; 
    height: 30px;
    margin-top: 50px;
    align-items: center;
  }
  
  .social-icons a:hover {
    cursor: pointer;
                        }

  .footer-line {
    width: 70%;
    margin-top: 30px; /* Adjust spacing between line and social icons */
    border: 1px groove #989696; /* Customize the line appearance */
  }
  
  .developed-by {
    text-align: center;
    color: #fff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px; /* Adjust spacing between text and line */
  }


@media only screen and (max-width: 768px) {
  
  .main_container {
    max-width: 100%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    margin-top: 12px;
    width: 335px;
    border-radius: 15px;
    margin-left: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #555;
   
    
}

.dropdown:hover .dropdown-content {
    display: block;

    
  
}

.dropdown-divider {
  border-top: 0.1px solid #fff; /* White border for the divider */
  margin: 8px auto; /* Auto margin for centering horizontally */
  width: 85%; /* Set the width of the divider */
}




  .center-text {
      height: auto;
      padding: 20px; /* Adjusted padding */
      text-align: center;
  }

  #about h2 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    white-space: nowrap; /* Keep the text on a single line */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #about h3 {
    padding: 10px; /* Adjusted padding */
    text-align: center; /* Align text to the left */
  }

  #abouttext{
    height: auto;
    margin-left: -40px;   
    width: 300px;
  }

  .skills {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
      height: auto;
      width: auto;
      margin-left: -17px;
  }

  /* Adjusted margins and heights for better spacing */
  .menubar {
      height: auto;
  }

  .menubar li {
      display: block;
      margin: 1px 0;
      padding: 10px;
  }

  .sec_about {
    margin-top: 490px; /* Adjusted margin-top */
  }

  #myname {
      font-size: 30px;
      margin-top: 180px; /* Adjusted margin-top */
  }


  #typing-text {
      margin-top: 300px; /* Adjusted margin-top */
      font-size: 2.5rem;
      height: auto;
      width: auto;
  }

  .footer {
      margin-top: 50px; /* Adjusted margin-top */
      height: auto;
      padding: 20px 0;
  }

  .social-icons img {
      margin-top: 20px;
  }

  .developed-by {
      margin-top: 20px;
  }

}
